.term {
    padding: 1.3rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    margin-left: 1rem;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    color: rgb(194, 192, 192);
    background-color: transparent;
}

.input {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.output {
    white-space: pre-line !important;
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 100%;
    overflow: auto;
    line-height: 1.8;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 400;
}

.term__header {
    display: flex;
    flex-direction: column;
    line-height: 0.1;
    font-size: 1rem;
    margin-top: 0.5rem;
    letter-spacing: 0.05rem;
}

.term__input {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.term__user_label {
    color: rgb(209, 37, 37);
    font-size: 1.2rem;
    font-weight: 400;
    text-shadow: 0 0 3px rgb(209, 37, 37);
}

/* focus label when scrolling */

.term__user_label:focus {
    outline: none;
    text-shadow: 0 0 3px rgb(209, 37, 37);
}

.help {
    color: rgb(211, 211, 211);
    text-shadow: 0 0 1px rgb(255, 255, 255);
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 0.5rem;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(70, 70, 70, 0.3);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
    box-shadow: inset 0 0 6px rgba(70, 70, 70, 0.3);
}