.nav {
    display: flex;
    align-items: center;
    background-color: rgb(41, 41, 48);
    height: 30px;
    width: 100%;
    border-bottom: 1px solid rgb(63, 63, 77);
    box-sizing: border-box;
}

.nav__left {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.red {
    background-color: rgb(224, 67, 67);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.yellow {
    background-color: rgb(214, 214, 34);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}
.green {
    background-color: rgb(55, 201, 55);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.help {
    text-shadow: 0 0 1.5px #fff;
}

.nav__right {
    width: 100%;
    text-align: center;
    color: rgb(153, 153, 153);
}

.title {
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-shadow: 0 0 1px rgb(247, 247, 247);
    font-size: 1.3rem;
}